<%- include("partials/header"); -%>

<%- include("partials/navbar"); -%>

<%if (personajes){ %>
    <% personajes.forEach(personaje => { %>
        <p>Id: <%= personaje.id %></p>
        <p>Name: <%= personaje.firstName %></p>
        <p>Last Name: <%= personaje.lastName %></p>
        <p>Full Name: <%= personaje.fullName %></p>
        <p>Title: <%= personaje.title %></p>
        <p>Family: <%= personaje.family %></p>
        <img src="<%= personaje.imageUrl %>" alt="Imagen de <%= personaje.fullName %>">
    <br>
<% }); %>
<%}%>

<%- include("partials/footer"); -%>